body, div, canvas {
  margin: 0;
  padding: 0;
}

#ui {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 42;
  text-align: center;
}

#ui img {
  animation: beat 1s 1s infinite;
  width: 20vw;
  margin-left: 40vw;
  margin-top: 40vh;
}

@keyframes beat {
  0% {
  width: 20vw;
  margin-left: 40vw;
  }

  50% {
  width: 10vw;
  margin-left: 45vw;
  }

  100% {
  width: 20vw;
  margin-left: 40vw;
  }
}

#squatcount {
  position: absolute;
  left: 32px;
  top: 0px;
  color: yellow;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 4px;
  font-family: "Boogaloo", sans-serif;
  font-size: 96px;
}
